<body>
    <main>
        <div class="PageTitle">
            <h1>Add Collaborator to {{project.name}}</h1>
        </div>
        <main>
            <form class="projectb" action="/project_board/{{project.id}}/add_collaborator" method="POST">
                <label for="collaborators">Choose collaborators:</label>
                <select name="collaborators" id="collaborators" multiple class='select_collaborator'>
                    {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <br>
                <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
                <br>
                <input type="submit" value="Submit" class='button'>
                <a href="/project_board/{{project.id}}" class="button">Cancel</a>
            </form>
        </main>
</body>
