<div class="PageTitle">
    <h1>Edit Task in {{project.name}}</h1>
</div>
<main style="margin-top:200px;display:flex;justify-content:center;align-items:center;">
<form class="standard_card" style="width:600px;margin-left:auto;margin-right:auto;" action="/project_board/{{project.id}}/edit_task/{{task.id}}" method="POST">
    <label>New name</label>
    <input name="name" type="text" value="{{task.name}}" class="EditTaskInput" required/>
    <br>
    <label for="assignee">New assignee</label>
    <select name="UserId" id="assignee">
        <option value='null'>unassigned</option>
        {{#each users}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <br>
    <input type="submit" value="Edit task" class="button">
    <a href="/project_board/{{project.id}}" class="button">Cancel</a>
</form>
</main>
