<head>
    <script src="https://unpkg.com/apprun/dist/apprun-html.js"></script>
</head>
<main style="max-width:1200px;margin:auto;">
    <section>
        <section class="ProjectHeader" style="padding-top: 60px;">
            <div class="ProjectName">
                <h3>Project Name:</h3>
                <h1>{{project.name}} <a href="/project_board/{{project.id}}/delete" onclick="return confirm('Are you sure you want to delete the project board?')";><button>Delete</button></a></h1>
            </div>
            <div class="ProjectPeople">
                <h3>People on the project:</h3>
                <div class="iconalignment">
                {{#each users}}
                <div class="icon tooltip" style="background-image: url({{this.image}});"><span class="tooltiptext">{{this.name}}</span></div>
                {{/each}}
                <a href="/project_board/{{project.id}}/add_collaborator"><button class="plus-button">✏️</button></a>
                </div>
            </div>
        </section>
    </section>
    <section>
        <main id="todoApp"></main>
        <script src="/project_board.js"></script>
    </section>
</main>
